<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.microshop.servicedao.mapper.MallshopdetailsMapper" >
  <resultMap id="BaseResultMap" type="com.microshop.servicedao.model.Mallshopdetails" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shopId" property="shopid" jdbcType="BIGINT" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="companyName" property="companyname" jdbcType="VARCHAR" />
    <result column="taxCheck" property="taxcheck" jdbcType="VARCHAR" />
    <result column="bankName" property="bankname" jdbcType="VARCHAR" />
    <result column="bankAccount" property="bankaccount" jdbcType="VARCHAR" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shopId, email, address, companyName, taxCheck, bankName, bankAccount, describe, 
    createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mallShopDetails
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mallShopDetails
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.microshop.servicedao.model.Mallshopdetails" >
    insert into mallShopDetails (id, shopId, email, 
      address, companyName, taxCheck, 
      bankName, bankAccount, describe, 
      createTime)
    values (#{id,jdbcType=BIGINT}, #{shopid,jdbcType=BIGINT}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{companyname,jdbcType=VARCHAR}, #{taxcheck,jdbcType=VARCHAR}, 
      #{bankname,jdbcType=VARCHAR}, #{bankaccount,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.microshop.servicedao.model.Mallshopdetails" >
    insert into mallShopDetails
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopid != null" >
        shopId,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="companyname != null" >
        companyName,
      </if>
      <if test="taxcheck != null" >
        taxCheck,
      </if>
      <if test="bankname != null" >
        bankName,
      </if>
      <if test="bankaccount != null" >
        bankAccount,
      </if>
      <if test="describe != null" >
        describe,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopid != null" >
        #{shopid,jdbcType=BIGINT},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="taxcheck != null" >
        #{taxcheck,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.microshop.servicedao.model.Mallshopdetails" >
    update mallShopDetails
    <set >
      <if test="shopid != null" >
        shopId = #{shopid,jdbcType=BIGINT},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null" >
        companyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="taxcheck != null" >
        taxCheck = #{taxcheck,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        bankName = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankaccount != null" >
        bankAccount = #{bankaccount,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.microshop.servicedao.model.Mallshopdetails" >
    update mallShopDetails
    set shopId = #{shopid,jdbcType=BIGINT},
      email = #{email,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      companyName = #{companyname,jdbcType=VARCHAR},
      taxCheck = #{taxcheck,jdbcType=VARCHAR},
      bankName = #{bankname,jdbcType=VARCHAR},
      bankAccount = #{bankaccount,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>